*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(#fff,blanchedalmond);
}
.categories_bag:hover{
    transform: translateY(-.5rem);
}
.categories_bag img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.categories_products{
    margin: 5px;
    float: left;
    width: 390px;
}
.categories_products:hover{
    transform: translateY(-.5rem);
}

.categories_data{
    padding: 15px;
    text-align: center;
}
